{% from "macro" import img_src, project_icon %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <title>{% block title %}한글 짜임 조직{% endblock %}</title>

  <!-- lib -->
  <script src="{{ url_for('static', filename = 'lib/jquery-2.1.1.min.js')}}"></script>
  <script src="{{ url_for('static', filename = 'lib/bootstrap.min.js')}}"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename = 'lib/bootstrap.min.css')}}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/navbar.css')}}"/>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans"/>
  
  <!-- globally affected javascript -->
  <script src="{{ url_for('static', filename = 'js/common.js')}}"></script>
  <style>
  body {
    margin-top : 50px;
  }
  </style>
  {% block head %}
  {% endblock %}
</head>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#base-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('main', category = 'all')}}" >한글 짜임</a>
    </div>
    <center>
      <div class="collapse navbar-collapse" id="base-navbar">
        <ul class="nav navbar-nav">
          {% if 'user_name' in session %}
          <li><a href="{{url_for('main', category=   'reading')}}">읽는 서체</a></li>
          <li><a href="{{url_for('main', category='displaying')}}">보는 서체</a></li>
          <li><a href="{{url_for('main', category= 'lettering')}}">레터링</a></li>
          <li><a href="{{url_for('author_page', author_id = session.user_id)}}">{{ session.user_name }}, 환영하네</a></li>
          {% endif %}
        </ul>

        {% if 'user_name' in session %}
        <a class="navbar-form navbar-right" href="{{url_for('sign_out')}}">
          <button class="btn btn-default">Sign Out</button>
        </a>
        <form class="navbar-form navbar-right" role="form" action>
          <div class="form-group">
            <input type="text" class="form-control" name="search-body" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
        </form>
        <a class="navbar-form navbar-right" href="#">
          <button class="btn btn-default">
            새 작업 <span class="glyphicon glyphicon-folder-open"></span>
          </button>
        </a>
        {% else %}
        <form class="navbar-form navbar-right" role="form" action="{{url_for('sign_in')}}" method="POST">
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="전자서찰주소" required/>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="숨김문자" required/>
          </div>
          <button type="submit" class="btn btn-default">좀, 들어갑시다.</button>
        </form>
        <a class="navbar-form navbar-right signup-logo" href="{{url_for('oauth_facebook')}}">
          <img id="facebook-logo" src="{{url_for('static',filename='res/images/facebook_logo.png')}}">
        </a>
        <a class="navbar-form navbar-right signup-logo" href="{{url_for('oauth_google')}}">
          <img id="google-logo" src="{{url_for('static',filename='res/images/google_logo.png')}}">
        </a>
        {% endif %}
      </div><!-- /.navbar-collapse -->
    </center>
  </div><!-- /.container-fluid -->
</nav>
<style>/*for fb and g+*/
  .signup-logo       {width:32px; height:32px; padding:0px;}
  #facebook-logo     {width:100%; height:100%;}
  #facebook-logo     {content:url("{{url_for('static',filename='res/images/facebook_logo.png'     )}}");}
  #google-logo       {margin:-5px -5px -5px -20px;}}
  #google-logo       {content:url("{{url_for('static',filename='res/images/google_logo.png'       )}}");}
  #google-logo:hover {content:url("{{url_for('static',filename='res/images/google_logo_hover.png' )}}");}
  #google-logo:active{content:url("{{url_for('static',filename='res/images/google_logo_active.png')}}");}  
</style>
<body>
  {%block body%}
  {%endblock%}
</body>
</html>
