<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <title>{% block title %}한글 짜임 조직{% endblock %}</title>

  <!-- lib -->
  <script src="{{ url_for('static', filename = 'lib/jquery-2.1.1.min.js')}}"></script>
  <script src="{{ url_for('static', filename = 'lib/bootstrap.min.js')}}"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename = 'lib/bootstrap.min.css')}}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/navbar.css')}}"/>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans"/>
  
  <!-- alert dialog -->
  <script src="{{ url_for('static', filename = 'js/common.js')}}"></script>
  <style>
  body {
    margin-top : 50px;
  }
  </style>
  {% block head %}
  {% endblock %}
</head>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#base-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('main', category = 'all')}}" >한글 짜임</a>
    </div>
    <center>
      <div class="collapse navbar-collapse" id="base-navbar">
        <ul class="nav navbar-nav">
            {% if authors %}
            <li><a href="{{url_for('main', category=  'reading' )}}">읽는 서체</a></li>
            <li><a href="{{url_for('main', category='displaying')}}">보는 서체</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">작가별<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                {% for author in authors %}
                  <li><a href="{{url_for('main', category = author.id )}}">{{author.name}}</a></li>
                  {% if not loop.last %}
                    <li class="divider"></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
          {% endif %}
          {% if 'author_name' in session %}
          <li><a href="{{url_for('author_page', author_id = session.author_id)}}">{{ session.author_name }}, 환영하네</a></li>
          {% endif %}
        </ul>

        {% if 'author_name' in session %}
        <a class="navbar-form navbar-right" href="{{url_for('sign_out')}}">
          <button class="btn btn-default">Sign Out</button>
        </a>
        <form class="navbar-form navbar-right" role="form" action>              
          <div class="form-group">
            <input type="text" class="form-control" name="search-body" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
        </form>  
        <a class="navbar-form navbar-right" href="#">
          <button class="btn btn-default">
            새 작업을 내어오너라!<span class="glyphicon glyphicon-folder-open"></span>
          </button>
        </a>
        {% else %}
        <form class="navbar-form navbar-right" role="form" action="{{url_for('sign_in')}}" method="POST">    
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="전자서찰주소" required/>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="숨김문자" required/>
          </div>
          <button type="submit" class="btn btn-default">좀, 들어갑시다.</button>
        </form>
        {% endif %}
      </div><!-- /.navbar-collapse -->
    </center>
  </div><!-- /.container-fluid -->
</nav>

<body>
  {%block body%}
  {%endblock%}
</body>
</html>
