{% extends "base.html" %}
{% block head %}
  <link   href="{{ url_for('static', filename = 'css/main.css')}}" type="text/css" rel="stylesheet"/>
  <script src ="{{ url_for('static', filename =  'js/like_handler.js' )}}" type="text/javascript"></script>
{% endblock%}
{% block body%}

<div id="main">
  <div id="columns">
  {% for project in projects %}
    <div class="proj_item">
      <div class = "proj_head">
        <div class = "proj_title">
          <div class = "font_name_div">
            <img class="font_name_back" src="{{ url_for('static', filename = 'res/images/project_title_background.png') }}" alt="Image Not Available"/>
            {% if project.category == "READING" %}
              <span class="glyphicon glyphicon-book"></span>
            {% elif project.category == "DISPLAYING" %}
              <span class="glyphicon glyphicon-eye-open"></span>
            {% else %}
              <span class="glyphicon glyphicon-remove"></span>
            {% endif %}
            <a href="{{url_for ('type_project', project_id = project.id) }}">
              <p class="font_name into_the_proj">{{ project.title }}</p>
            </a>
          </div>
        </div>
        <div class = "proj_credit">
          <a href="{{url_for ('main', category = project.author.id) }}">
            <p class = "artist_name">{{ project.author.name }}</p>
            <img class="artist_profile_image" src="{{ img_src(project.author.thumbnail) }}" alt="Image Not Available"/>
          </a>
        </div>
      </div>
      <div class = "proj_body">
        <div class="font_profile_image into_the_proj">
          <a href="{{url_for ('type_project', project_id = project.id) }}">
            <img class="thumbnail" src="{{ img_src(project.thumbnail)}}" alt="Image Not Available"/>
            <div class="thumbnail_gradi_cover"></div>
          </a>
        </div>
        <div class="font_description">
          <p>{{ u_truncate(project.description, config.STRING_TRUNCATE_LENGTH) }}</p>
        </div>
        <div class="reactions_to_proj">
          <a class="project_like" href="javascript:void(0)">
            {% set found = [] %}
            {% for like in project.likes %}
              {% if session.user_id == like.liker_id %}
                {% do found.append(1) %}
              {% endif %}
            {% endfor %}
            <span class="glyphicon glyphicon-heart-empty like {%- if found -%}{{' user-like'}}{%-endif-%}" target="{{url_for('like_project', project_id = project.id)}}">{{ project.likes.count() }}</span>
          </a>
          <a href="{{ url_for('type_project', project_id = project.id) }}">
            <span class="glyphicon glyphicon-comment">{{ project.comments.count() }}</span>
          </a>
          <a href="#">
            <span class="glyphicon glyphicon-share-alt"></span>
          </a>
        </div>  
      </div>
    </div>
  {% endfor %}
  </div>
</div>
{%endblock%}
</body>
</html>