{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/main_style.css')}}" />
{% endblock%}
{% block body%}

<div id="main"> 
    <div id="columns">
    {% for project in projects %}
        <div class="proj_item">
            <div class = "proj_head">
                <div class = "proj_title">
                    <div class = "font_name_div">
                        <img class="font_name_back" src="{{ url_for('static', filename = 'res/images/project_title_background.png')}}" alt="Image Not Available"/>
                        {% if project.category == "READING" %}
                            <span class="glyphicon glyphicon-book"></span>
                        {% elif project.category == "DISPLAYING" %}
                            <span class="glyphicon glyphicon-eye-open"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove"></span>                        
                        {% endif %}
                        <a href="{{url_for ('type_project', project_id = project.id) }}">
                            <p class="font_name into_the_proj">{{ project.title }}</p>
                        </a>
                    </div>
                </div>
                <div class = "proj_credit">
                    <a href="{{url_for ('main', category = project.author.id) }}">
                        <p class = "artist_name">{{ project.author.name }}</p>
                        <img class="artist_profile_image" src="{{ url_for('static', filename = project.author.profile_image )}}" alt="Image Not Available"/>
                    </a>
                </div>
            </div>
            <div class = "proj_body">
                <div class="font_profile_image into_the_proj">
                    <a href="{{url_for ('type_project', project_id = project.id) }}"><!-- #modal_inside_proj_item> -->
                        <img class="thumbnail" src="{{ url_for('static', filename = project.thumbnail) }}" alt="Image Not Available"/>
                        <div class="thumbnail_gradi_cover"></div>
                    </a>
                </div>
                <div class="font_description">
                    <p>{{ project.description }}</p>
                </div>
                <div class="reactions_to_proj">
                    <a href="#">
                        <span class="glyphicon glyphicon-heart-empty"></span>
                    </a>
                    <a href="#">
                        <span class="glyphicon glyphicon-comment"></span>
                    </a>
                    <a href="#">
                        <span class="glyphicon glyphicon-share-alt"></span>
                    </a>
                </div>  
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{%endblock%}
</body>
</html>