{% extends "base.html" %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/main_style.css')}}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/modal_inside_proj_style.css')}}" />
{% endblock%}
{% block body %}

<div id="main"> 
  <div id="proj_item">
    <div id = "proj_head">
      <div id = "proj_title">
        <div id = "font_name_div">
          <img id="font_name_back" src="{{ url_for('static', filename = 'res/images/project_title_background.png')}}" alt="Image Not Available"/>
          {% if project.category == "READING" %}
            <span class="glyphicon glyphicon-book"></span>
          {% elif project.category == "DISPLAYING" %}
            <span class="glyphicon glyphicon-eye-open"></span>
          {% else %}
            <span class="glyphicon glyphicon-remove"></span>
          {% endif %}
          <a href='#'><p id= "font_name">{{project.title}}</p></a>
        </div>
      </div>
    </div>
    <div id = "proj_body">
      <div id="font_profile_div">
        <div id="font_profile_image">
          <img id="thumbnail" src="{{url_for('static', filename = project.thumbnail)}}" alt="Image Not Available"/>
          <div id="img_control_div">
            <input type="submit" value="삭제"> <!-- Delete Project : make it similar to that of github -->
            <form role="form" action="{{ url_for('register_project', project_id = session['project-id']) }}" method="POST">
              <div class="form-group">
                <input id="comment_on_proj_submit" type="submit" value="등록">
              </div>
            </form>
          </div>
        </div>
        <div id="font_description_div">
          <div id="above_font_description_div">
            <div id ="concept_label">
              <p>제작 의도</p>
            </div>
            <div id = "proj_credit">
              <a href="#">
                <p id = "artist_name">{{project.author.name}}</p>
                <img id="artist_profile_image" src="{{ url_for('static', filename = project.author.profile_image )}}" alt="Image Not Available"/>
              </a>
            </div>
          </div>

          <div id="font_description">
            <p>{{project.description}}</p>
          </div>
          <div id="text_control_div"> 
            <input type="submit" value="수정"> <!-- Modify project description -->
          </div>
        </div>
        <!-- <div id="font_sale_div">
          <div id="request_info">
            <p>구매/작업 요청</p>
          </div>
          <div id="price_info_div">
            <div id="price_info_fix">
              <p style="color: gray;">낱자 당</p>
              <p style="color: gray; font-size: 23pt;">₩</p>
            </div>
            <div id="price_per_char">
              <p style="color: gray; font-size: 23pt;">2,000</p>
            </div>
          </div>
          <input id="send_request" type="submit" value="요청 보내기">  
        </div> -->
      </div>
      <div id="process_label">
        <p>작업 과정</p>
      </div>

<!-- PROJECT History -->
      <div id="proj_papers">  
        {% for work in project.history %}
        <div class="paper_item">
          <div class="above_paper_div">
            <div class="paper_date_div">
              <p class="paper_date">{{ work.date }}</p>
            </div>  
            <div class="btn_paper_manage">
              <span class="glyphicon glyphicon-pencil"></span> <!-- Edit work -->
              <span class="glyphicon glyphicon-trash"></span>  <!-- Delete work -->
            </div>
          </div>
          <div class = "paper_body">
            <div class="paper_image">
              <a href="{{ url_for('type_work', work_id = work.id) }}">
                <img class="paper_img_thumbnail" src="{{ url_for('static', filename = work.image ) }}" alt="Image Not Available"/>
              </a>
            </div>
            <div class="paper_description">
              <p>{{ work.description }}</p>
            </div>
            <div class="reactions_to_paper">
              <a href="#">
                <span class="glyphicon glyphicon-heart-empty"></span>{{ work.likes.count() }}
              </a>
              <a href="{{ url_for('type_work', work_id = work.id) }}">
                <span class="glyphicon glyphicon-comment"></span>{{ work.comments.count() }}
              </a>
              <a href="#">
                <span class="glyphicon glyphicon-share-alt"></span>
              </a>
            </div>  
          </div>
        </div>
        {% endfor %}
      </div>
<!-- LIKES -->
      <div id="like_on_proj_div">
        <span class="glyphicon glyphicon-heart-empty"></span>
        <div id="like_users_div">
          {% if project.likes.count() %}
            {% for like in project.likes %}
              <a href="#">{{ like.target }}</a>
              {% if not loop.last %}
                <p>, </p>
              {% endif %}
            {% endfor %}
            <p id="like_on_proj_closing_ment">님이 좋아합니다.</p>
          {% endif %}
        </div>
      </div>
<!-- COMMENTS  -->
      <div id="comment_on_proj_div">
        <div id="comment_on_proj_label">
          <span class="glyphicon glyphicon-comment"></span>
          <p id="comment_on_proj_num_count">{{ project.comments.count() }}</p>
        </div>

        {% for comment in project.comments %}
        <div class="comment_on_proj">
          <div class="comment_user">
            <a href="#">
              <img class="comment_user_img" src="{{ url_for('static', filename = comment.writer.profile_image )}}" alt="Image Not Available"/>
              <p class = "comment_user_name">{{comment.writer.name}}</p>
            </a>
          </div>

          <div class="comment_body">
            <div class="comment_content">
              <p>{{comment.body}}</p>
            </div>
            <div class="comment_date">
              <p>{{comment.creation_time}}</p>
            </div>
          </div>
          <div class="comment_manage_btn">
            <span class="glyphicon glyphicon-pencil"></span><!-- TODO : MODIFY -->
            <span class="glyphicon glyphicon-trash"></span> <!-- TODO : DELETE -->
          </div>
        </div>
        {% endfor %}
        <div class="comment_on_proj">
          <div class="comment_on_proj_user">
            <a href="#"><!-- to ??? -->
              <img class="comment_on_proj_user_img" src="{{ url_for('static', filename = '')}}" alt="Image Not Available"/>
              <p class = "comment_on_proj_user_name">{{session.name}}</p>
            </a>
          </div>
          <div class="comment_on_proj_body">
            <form role="form" action="{{url_for('submit_project_comment')}}" method="POST">
              <div class="form-group">
                <input type="text" name="body" placecholder="써라." required/>
                <input id="comment_on_proj_submit" type="submit" value="등록">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
