{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/main.css')}}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/project.css')}}" />
<script type="text/javascript" src="{{url_for('static', filename='js/comment_handler.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/like_handler.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/description_handler.js')}}"></script>
{% endblock%}
{% block body %}

<div id="main"> 
  <div id="project_item">
    <div id = "project_head">
      <div id = "project_title">
        <div id = "font_name_div">
          <img id="font_name_back" src="{{ url_for('static', filename = 'res/images/project_title_background.png')}}" alt="Image Not Available"/>
          {% if project.category == "READING" %}
            <span class="glyphicon glyphicon-book"></span>
          {% elif project.category == "DISPLAYING" %}
            <span class="glyphicon glyphicon-eye-open"></span>
          {% else %}
            <span class="glyphicon glyphicon-remove"></span>
          {% endif %}
          <a href='#'><p id= "font_name">{{project.title}}</p></a>
        </div>
      </div>
    </div>
    <div id = "project_body">
      <div id="font_profile_div">
        <div id="font_profile_image">
          <img id="thumbnail" src="{{ img_src(project.thumbnail) }}" alt="Image Not Available"/>
          <div id="img_control_div">
            <input type="submit" value="삭제"> <!-- Delete Thumbnail : make it similar to that of github -->

            <form class="file-upload" enctype="multipart/form-data" action="{{ url_for('upload_project_image', project_id = project.id) }}" method="POST">
              <input type="file" name="project-image">
              <button type="submit">등록</button>
            </form>
          </div>
        </div>
        <div id="font_description_div">
          <div id="above_font_description_div">
            <div id ="concept_label">
              <p>제작 의도</p>
            </div>
            <div id = "project_credit">
              <a href="{{ url_for( 'author_page', author_id = project.author_id ) }}">
                <p id = "artist_name">{{project.author.name}}</p>
                <img id="artist_profile_image" src="{{ img_src(project.author.thumbnail)}}" alt="Image Not Available"/>
              </a>
            </div>
          </div>

          <div id="description">
            <p>{{project.description}}</p>
          </div>
          <div id="text_control_div"> 
            <input id="btn-description" target="{{url_for('project_description', project_id = project.id)}}" type="submit" value="수정">
          </div>
        </div>
      </div>
      <div id="process_label">
        <p>작업 과정</p>
      </div>

<!-- PROJECT History -->
      <div id="project_works">  
        {% for work in project.history %}
        <div class="work_item">
          <div class="above_work_div">
            <div class="work_date_div">
              <p class="work_date">{{ work.date }}</p>
            </div>  
            <div class="btn_work_manage">
              <span class="glyphicon glyphicon-pencil"></span> <!-- Edit work -->
              <span class="glyphicon glyphicon-trash"></span>  <!-- Delete work -->
            </div>
          </div>
          <div class = "work_body">
            <div class="work_image">
              <a href="{{ url_for('type_work', work_id = work.id) }}">
                <img class="work_img_thumbnail" src="{{ img_src(work.thumbnail)}}" alt="Image Not Available"/>
              </a>
            </div>
            <div class="work_description">
              <p>{{ work.description }}</p>
            </div>
            <div class="reactions_to_proj">
              <a class="work_like" href="javascript:void(0)">
                {% set found = [] %}
                {% for like in work.likes %}
                  {% if session.user_id == like.liker_id %}
                    {% do found.append(1) %}
                  {% endif %}
                {% endfor %}
                <span class="glyphicon glyphicon-heart-empty like {%- if found -%}{{' user-like'}}{%-endif-%}" target="{{url_for('like_work', work_id = work.id)}}">{{ work.likes.count() }}</span>
              </a>
              <a href="{{ url_for('type_work', work_id = work.id) }}">
                <span class="glyphicon glyphicon-comment">{{ work.comments.count() }}</span>
              </a>
              <a href="#">
                <span class="glyphicon glyphicon-share-alt"></span>
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
<!-- LIKES -->
      <div id="like_on_project_div">
        <span class="glyphicon glyphicon-heart-empty"></span>
        <div id="like_users_div">
          {% if project.likes.count() %}
            <p>
            {% for like in project.likes %}
              <a href="#">{{ like.liker.name }}</a>
              {%- if not loop.last -%}, {%- endif -%}
            {% endfor %}
            님이 좋아합니다.</p>
          {% endif %}
        </div>
      </div>
<!-- COMMENTS  -->
      <div id="comment_on_project_div">
        <!-- label -->
        <div id="comment_on_project_label">
          <span class="glyphicon glyphicon-comment"></span>
          <p id="comment_on_project_num_count">{{ project.comments.count() }}</p>
        </div>
        <!-- comment loop -->
        {% for comment in project.comments %}
        <div class="comment_on_project">
          <div class="comment_on_project_user">
            <a href="{{ url_for( 'author_page', author_id = comment.writer_id ) }}">
              <img class="comment_on_project_user_img" src="{{ img_src(comment.writer.thumbnail)}}" alt="Image Not Available"/>
              <p class = "comment_on_project_user_name">{{comment.writer.name}}</p>
            </a>
          </div>

          <div class="comment_on_project_body">
            <div class="comment_on_project_content">
              <p>{{comment.body}}</p>
            </div>
            <div class="comment_on_project_date">
              <p>{{comment.creation_time}}</p>
            </div>
          </div>
          <div class="comment_on_project_manage_btn">
            <span class="glyphicon glyphicon-pencil modify-comment" target="{{url_for('project_comment_modify', comment_id = comment.id)}}"></span>
            <span class="glyphicon glyphicon-trash remove-comment"  target="{{url_for('project_comment_remove', comment_id = comment.id)}}"></span>
          </div>
        </div>
        {% endfor %}
        <!-- write comment -->
        <div class="comment_on_project">
          <div class="comment_on_project_user">
            <a href="{{ url_for( 'author_page', author_id = session.user_id ) }}">
              <img class="comment_on_project_user_img" src="{{ img_src(session.user_thumbnail)}}" alt="Image Not Available"/>
              <p class = "comment_on_project_user_name">{{session.user_name}}</p>
            </a>
          </div>
          <div class="comment_on_project_body">
            <input type="text" name="body" placecholder="써라." required/>
          </div>
          <div class="comment_on_project_manage_btn">
            <button class="new-comment" target="{{url_for('project_comment_new')}}">등록</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
