<!-- nav bar and search box only -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<title>Korean Type Design Group</title>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/component.css')}}" />
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css')}}" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Noto+Sans">
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/index_style.css')}}" />
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/modal_enter_proj_name.css')}}" />
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/modal_inside_proj_style.css')}}" />
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/modal_process_paper.css')}}" />


	<script src="{{ url_for('static', filename = 'js/jquery-2.1.1.min.js')}}"></script>
	<script type='text/javascript' src="{{ url_for('static', filename = 'js/jquery-ui.min.js')}}"></script>

	<script src="{{ url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
	<script src="static/js/modernizr.custom.js"></script>
	<script src="{{ url_for('static', filename = 'js/ajax.js')}}"></script>

	{% block head %}
	{% endblock %}
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="{{ url_for('main')}}" class="navbar-brand">한글 짜임</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a id="fonts_to_read" href="#">읽는 서체</a></li>
					<li><a id="fonts_to_see" href="#">보는 서체</a></li>
					<li class="dropdown">

						<a href="#" class="dropdown-toggle" data-toggle="dropdown"> 작가별<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">김아무개</a></li>
							<li><a href="#">김아무개</a></li>
							<li><a href="#">김아무개</a></li>
							<li class="divider"></li>
							<li><a href="#">이아무개</a></li>
							<li><a href="#">이아무개</a></li>
							<li><a href="#">이아무개</a></li>
							<li><a href="#">이아무개</a></li>
							<li class="divider"></li>
						</ul>
					</li>
				</ul>
				<div id ="join">
					<a href="#">들어가기</a>
					<a href="#">가입하기</a>
				</div>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<div id= "above_proj_items">	
		<div id="search_box">
			<form class="navbar-form navbar-left" role="search">
				<button type="submit" class="btn btn-default">찾기</button>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="입력하세요" style="width:230px; ">
				</div>
			</form>
		</div>
		<div id="btn_create_proj">
			<a href="#modal_enter_proj_name">
				<span class="glyphicon glyphicon-folder-open"></span>내 작업 개설하기
			</a>
		</div>
	</div>

	<div id="modal_enter_proj_name">
		<div id="enter_proj_name_div">
			<div id="label_enter_proj_name" >
				<p>작업 이름을 입력하세요.</p>	
			</div>
			<div id="enter_proj_name">
				<input type="text" placeholder="작업 이름">
			</div>
			<div id="btn_create_proj_or_not">
				<a href="#modal_inside_proj_item"><input type="submit" value="개설"></a>
				<a href="#close"><input type="submit" value="취소"></a>
			</div>
		</div>
	</div>
	
	
	<div id="modal_inside_proj_item">	
		<div id="inside_proj_item">
			<a href="#close" title="Close" id="close_modal_inside_proj_item">X</a>
			<div id = "inside_proj_head">
				<div id = "inside_proj_title">
					<div id = "font_name_div">
						<img id="font_name_back" src="{{ url_for('static', filename = 'res/images/font_name_back.png')}}" alt="Image Not Available"/>
						<span class="glyphicon glyphicon-book"></span>
						<a href='#'><p id= "font_name">명주실</p></a>
					</div>
				</div>
			</div>
			<div id = "inside_proj_body">
				<div id="font_profile_div">
					<div id="font_profile_image">
						<img id="thumbnail" src="{{ url_for('static', filename = 'res/images/test3.jpg')}}" alt="Image Not Available"/>
						<div id="img_control_div">
							<input type="submit" value="삭제">	
							<input type="submit" value="등록">	
						</div>
					</div>
					<div id="font_description_div">
						<div id="above_font_description_div">
							<div id ="concept_label">
								<p>제작 의도</p>
							</div>
							<div id = "inside_proj_credit">
								<a href="#">
									<p id = "artist_name">엄후영</p>
									<img id="artist_profile_image" src="{{ url_for('static', filename = 'res/images/uhy.jpg')}}" alt="Image Not Available"/>
								</a>
							</div>
						</div>

						<div id="font_description">
							<p>어떤 폰트인지에 대한 설명을 여기에 작성하게 되는 것입니다</p>
						</div>
						<div id="text_control_div">	
							<input type="submit" value="수정">	
						</div>

					</div>
					<div id="font_sale_div">
						<div id="request_info">
							<p>구매/작업 요청</p>
						</div>
						<div id="price_info_div">
							<div id="price_info_fix">
								<p style="color: gray;">낱자 당</p>
								<p style="color: gray; font-size: 23pt;">₩</p>
							</div>
							<div id="price_per_char">
								<p style="color: gray; font-size: 23pt;">2,000</p>
							</div>
						</div>
						<input id="send_request" type="submit" value="요청 보내기">	
					</div>
				</div>
				<div id="process_label">
					<p>작업 과정</p>
				</div>

				<!-- ***********************project papers****************** -->

				<div id="proj_papers_div">	
					<div id="columns_proj_papers">

						<div id="proj_papers">	<!-- 이곳에 프로젝트 작업과정들이 들어감 -->

						</div>

					</div>
				</div>
				<div id="like_on_proj_div">
					<span class="glyphicon glyphicon-heart-empty"></span>
					<div id="like_proj_users_div">
						<a href="#">조경욱</a><p>,</p>
						<a href="#">양미소</a><p>,</p>
						<a href="#">진향기</a>
						<p id="like_on_proj_closing_ment">님이 좋아합니다.</p>
					</div>
				</div>
				<div id="comment_on_proj_div">
					<div id="comment_on_proj_label">
						<span class="glyphicon glyphicon-comment"></span>
						<p id="comment_on_proj_num_count">4</p>
					</div>
					<div class="comment_on_proj">
						<div class="comment_on_proj_user">
							<a href="#">
								<img class="comment_on_proj_user_img" src="{{ url_for('static', filename = 'res/images/jyj.jpg')}}" alt="Image Not Available"/>
								<p class = "comment_on_proj_user_name">조윤준</p>
							</a>
						</div>

						<div class="comment_on_proj_body">
							<div class="comment_on_proj_content">
								<p>재미있네요 작업은 어떻게 하신건가요??</p>
							</div>
							<div class="comment_on_proj_date">
								<p>2014년 7월 30일 19시 20분</p>
							</div>
						</div>
						<div class="comment_on_proj_manage_btn">
							<span class="glyphicon glyphicon-pencil"></span>
							<span class="glyphicon glyphicon-trash"></span>
						</div>
					</div>
					<div class="comment_on_proj">
						<div class="comment_on_proj_user">
							<a href="#">
								<img class="comment_on_proj_user_img" src="{{ url_for('static', filename = 'res/images/uhy.jpg')}}" alt="Image Not Available"/>
								<p class = "comment_on_proj_user_name">엄후영</p>
							</a>
						</div>

						<div class="comment_on_proj_body">
							<div class="comment_on_proj_content">
								<p>미안하지만 알려드릴 수 없습니다</p>
							</div>
							<div class="comment_on_proj_date">
								<p>2014년 7월 30일 19시 21분</p>
							</div>
						</div>
						<div class="comment_on_proj_manage_btn">
							<span class="glyphicon glyphicon-pencil"></span>
							<span class="glyphicon glyphicon-trash"></span>
						</div>
					</div>
					<div class="comment_on_proj">
						<div class="comment_on_proj_user">
							<a href="#">
								<img class="comment_on_proj_user_img" src="{{ url_for('static', filename = 'res/images/jyj.jpg')}}" alt="Image Not Available"/>
								<p class = "comment_on_proj_user_name">조윤준</p>
							</a>
						</div>

						<div class="comment_on_proj_body">
							<div class="comment_on_proj_content">
								<p>흥 꺼정</p>
							</div>
							<div class="comment_on_proj_date">
								<p>2014년 7월 30일 19시 22분</p>
							</div>
						</div>
						<div class="comment_on_proj_manage_btn">
							<span class="glyphicon glyphicon-pencil"></span>
							<span class="glyphicon glyphicon-trash"></span>
						</div>
					</div>
					<div class="comment_on_proj">
						<div class="comment_on_proj_user">
							<a href="#">
								<img class="comment_on_proj_user_img" src="{{ url_for('static', filename = 'res/images/lyj.jpg')}}" alt="Image Not Available"/>
								<p class = "comment_on_proj_user_name">이용제</p>
							</a>
						</div>

						<div class="comment_on_proj_body">
							<div class="comment_on_proj_content">
								<p>ㅎㅎ</p>
							</div>
							<div class="comment_on_proj_date">
								<p>2014년 7월 30일 19시 22분</p>
							</div>
						</div>
						<div class="comment_on_proj_manage_btn">
							<span class="glyphicon glyphicon-pencil"></span>
							<span class="glyphicon glyphicon-trash"></span>
						</div>
					</div>
					<div class="comment_on_proj">
						<div class="comment_on_proj_user">
							<a href="#">
								<img class="comment_on_proj_user_img" src="{{ url_for('static', filename = 'res/images/uhy.jpg')}}" alt="Image Not Available"/>
								<p class = "comment_on_proj_user_name">엄후영</p>
							</a>
						</div>

						<div class="comment_on_proj_body">
							<input type="text">
						</div>
						<div class="comment_on_proj_manage_btn">
							<input id="comment_on_proj_submit" type="submit" value="등록">
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- 과정샷들을 한장씩 크게 볼 수 있음 -->
	<div id="modal_paper_item">
		<div id="modal_page_div">
			<div id="page_div_left">
				<img id="paper_img" src="{{ url_for('static', filename = 'res/images/process_test_6.jpg')}}" alt="Image Not Available"/>
			</div>
			<div id="page_div_right">
				<div id="label_paper_description">
					<p>설명</p>
				</div>
				<div id="paper_description">
					<p>하 너무 어려웡..</p>
				</div>
				<div id="like_on_paper_div">
					<span class="glyphicon glyphicon-heart-empty"></span>
					<div id="like_paper_users_div">
						<a href="#">조경욱</a><p>,</p>
						<a href="#">양미소</a><p>,</p>
						<a href="#">진향기</a>
						<p id="like_on_paper_closing_ment">님이 좋아합니다.</p>
					</div>
				</div>

				<div id="comment_on_paper_div">
					<div id="comment_on_paper_label">
						<span class="glyphicon glyphicon-comment"></span>
						<p id="comment_on_paper_num_count">2</p>
					</div>

					<div class="comment_on_paper">
						<div class="comment_on_paper_user">
							<a href="#">
								<img class="comment_on_paper_user_img" src="{{ url_for('static', filename = 'res/images/jyj.jpg')}}" alt="Image Not Available"/>
								<p class = "comment_on_paper_user_name">조윤준</p>
							</a>
						</div>

						<div class="comment_on_paper_body">
							<div class="comment_on_paper_content">
								<p>오홍홍</p>
							</div>
							<div class="comment_on_paper_date">
								<p>2014년 7월 30일 19시 22분</p>
							</div>
						</div>
						<div class="comment_on_proj_manage_btn">
							<span class="glyphicon glyphicon-pencil"></span>
							<span class="glyphicon glyphicon-trash"></span>
						</div>
					</div>


					<div class="comment_on_paper">
						<div class="comment_on_paper_user">
							<a href="#">
								<img class="comment_on_paper_user_img" src="{{ url_for('static', filename = 'res/images/uhy.jpg')}}" alt="Image Not Available"/>
								<p class = "comment_on_paper_user_name">엄후영</p>
							</a>
						</div>

						<div class="comment_on_paper_body">
							<input type="text">
						</div>
						<div class="comment_on_paper_manage_btn">
							<input id="comment_on_paper_submit" type="submit" value="등록">
						</div>
					</div>
				</div>

			</div>
		</div>
		<a href="#modal_inside_proj_item" title="Close" id="close_modal_paper_item">X</a>

	</div>

	{%block body%}
	{%endblock%}


</body>
</html>