{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/main.css')}}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/work.css')}}" />
<script type="text/javascript" src="{{url_for('static', filename='js/comment_handler.js')}}"></script>
{% endblock%}
{% block body %}
<div class="work">
  <div id="work_item">
    <div id="work_div">
      <div id="work_div_left">
        <img id="work_img" src="{{ img_src(work.image, 'image')}}" alt="Image Not Available"/>
      </div>
      <div id="work_div_right">
        <div id="label_work_description">
          <p>설명</p>
        </div>
        <div id="work_description">
          <p>{{work.description}}</p>
        </div>
        <div id="like_on_work_div">
          <span class="glyphicon glyphicon-heart-empty"></span>
          <div id="like_work_users_div">
            {% if work.likes.count() %}
            <p>
              {% for like in work.likes %}
              <a href="#">{{ like.liker.name }}</a>{% if not loop.last %}, {% endif %}
              {% endfor %}
            </p>
            <p id="like_on_work_closing_ment">님이 좋아합니다.</p>
            {% endif %}
          </div>
        </div>

        <div id="comment_on_work_div">
          <div id="comment_on_work_label">
            <span class="glyphicon glyphicon-comment"></span>
            <p id="comment_on_work_num_count">{{ work.comments.count() }}</p>
          </div>

          {% for comment in work.comments %}
          <div class="comment_on_work">
            <div class="comment_on_work_user">
              <a href="{{ url_for( 'author_page', author_id = comment.writer_id ) }}">
                <img class="comment_on_work_user_img" src="{{ img_src(comment.writer.thumbnail)}}" alt="Image Not Available"/>
                <p class = "comment_on_work_user_name">{{comment.writer.name}}</p>
              </a>
            </div>

            <div class="comment_on_work_body">
              <div class="comment_on_work_content">
                <p>{{comment.body}}</p>
              </div>
              <div class="comment_on_work_date">
                <p>{{comment.creation_time | pretty_date}}</p>
              </div>
            </div>
            <div class="comment_on_work_manage_btn">
              <span class="glyphicon glyphicon-pencil modify-comment" target="{{url_for('work_comment_modify', comment_id = comment.id)}}"></span>
              <span class="glyphicon glyphicon-trash remove-comment"  target="{{url_for('work_comment_remove', comment_id = comment.id)}}"></span>
            </div>
          </div>
          {% endfor %}
          <div class="comment_on_work">
            <div class="comment_on_work_user">
              <a href="{{ url_for( 'author_page', author_id = session.user_id ) }}">
                <img class="comment_on_work_user_img" src="{{ img_src(session.user_thumbnail)}}" alt="Image Not Available"/>
                <p class = "comment_on_work_user_name">{{session.user_name}}</p>
              </a>
            </div>
            <div class="comment_on_work_body">
              <input type="text" name="body" placecholder="써라." required/>
            </div>
            <div class="comment_on_work_manage_btn">
              <button class="new-comment" target="{{url_for('work_comment_new')}}">등록</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <a href="#inside_proj_item" title="Close" id="close_work_item">X</a> -->
  </div>
</div>
{% endblock %}