<div class="comment_on_work">
  <div class="comment_on_work_user">
    <a href="{{ url_for( 'author_page', author_id = comment.writer.id ) }}">
      <img class="comment_on_work_user_img" src="{{url_for('load_image', filename = comment.writer.thumbnail)}}" alt="Image Not Available"/>
      <p class = "comment_on_work_user_name">{{ comment.writer.name }}</p>
    </a>
  </div>
  <div class="comment_on_work_body">
    {% if input_mode %}
    <input type="text" name="body" value="{{comment.body}}" required/>
    {% else %}
    <div class="comment_on_work_content">
      <p>{{comment.body}}</p>
    </div>
    <div class="comment_on_work_date">
      <p>{{comment.creation_time}}</p>
    </div>
    {% endif %}
  </div>
  <div class="comment_on_work_manage_btn">
    {% if input_mode %}
    <button class="submit-modified-comment" target="{{url_for('work_comment_submit', comment_id = comment.id)}}">등록</button>
    {% else %}
    <span class="glyphicon glyphicon-pencil modify-comment" target="{{url_for('work_comment_modify', comment_id = comment.id)}}"></span>
    <span class="glyphicon glyphicon-trash remove-comment"  target="{{url_for('work_comment_remove', comment_id = comment.id)}}"></span>
    {% endif %}
  </div>
</div>