{% extends "type_index.html" %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/main_style.css')}}" />
{% endblock%}
{% block body%}

<div id="main">	
	<div id="columns">
		
	{% for proj_item in proj_items %}
		<div class="proj_item">
			<div class = "proj_head">
				<div class = "proj_title">
					<div class = "font_name_div">
						<img class="font_name_back" src="{{ url_for('static', filename = 'res/images/font_name_back.png')}}" alt="Image Not Available"/>
						<span class="glyphicon glyphicon-book"></span>
						<a href="#modal_inside_proj_item"><p class="font_name into_the_proj">{{ proj_item.proj_name }}</p></a>
					</div>
				</div>
				<div class = "proj_credit">
					<a href="#">
						<p class = "artist_name">{{ proj_item.artist_name }}</p>
						<img class="artist_profile_image" src="{{ url_for('static', filename = proj_item.artist_profile_image)}}" alt="Image Not Available"/>
					</a>

				</div>
			</div>
			<div class = "proj_body">
				<div class="font_profile_image into_the_proj">
					<a href="#modal_inside_proj_item">
						<img class="thumbnail" src="{{ url_for('static', filename = proj_item.proj_thumbnail)}}" alt="Image Not Available"/>
						<div class="thumbnail_gradi_cover"></div>
					</a>
				</div>
				<div class="font_description">
					<p>{{ proj_item.proj_description }}</p>
				</div>
				<div class="reactions_to_proj">
					<a href="#">
						<span class="glyphicon glyphicon-heart-empty"></span>
					</a>
					<a href="#">
						<span class="glyphicon glyphicon-comment"></span>
					</a>
					<a href="#">
						<span class="glyphicon glyphicon-share-alt"></span>
					</a>
				</div>	
			</div>
		</div>
	{% endfor %}

	</div>
</div>
{%endblock%}
</body>
</html>

<!--
# Main Post
#   ________________________
#  / font_type | font_title \ font_author_id font_author_profile_img
#  |                                                                |
#  |                                                                |
#  |                                                                |
#  |                        font_title_image                        |
#  |                                                                |
#  |                                                                |
#  |________________________________________________________________|
#  |                                                                |
#  |                                                                |
#  |                     font_title_description                     |
#  |                                                                |
#  |________________________________________________________________|
#  |                     |                        |                 |
#  |   font_like_count   |   font_comment_count   |   font_share    |
#  |_____________________|________________________|_________________|
-->