

/*----------------------------------------- 헤더 시작*/
#header{
	width: 100%;
	position: fixed;

}

#cloud{
	width: 60px;
	height: 60px;
	float: left;
}
#heading{
	font-size: 23px;
	float: left;
	padding-left: 15px;
	font-family: Verdana;

}
a{
	font-size: 15px;
	margin-top: 17px;
	margin-right: 35px;
	text-decoration: none;
	float: right;
	font-family: Verdana;

}
#ladder-box{
	width: 100%;
	height: 100%;
	position: fixed;
}
#ladder-in-box{
	float: right;
	width: 300px;
	height: 600px;
}

#ladder{
	margin-top: 30px;
	margin-right: 30px;
}
	.fb-like{
		margin-left: 67px;
		margin-top: 30px;
		margin-right: 30px;
	}


#menu-bar{
	float: left;
	font-family: Arial;
	cursor: pointer;
	margin-top: 23px;
	padding-left: 100px;
}

.bar{
	display: inline-block;
}
.bar:hover{
	text-decoration: underline;
}

#works{
	padding-left: 38px;	
}
#contact{
	padding-left: 38px;	
}


/*----------------------------------------- 헤더 끝*/

/*----------------------------------------- 바디 시작*/


#body{

}
	#profile-div{
		width: 100%;
	}

	#profile-img{
		width: 250px;
		height: 250px;
		float: left;
		margin-top: 100px;	
		margin-left: 173px;
	}
	#profile-table{
		float: left;
		margin-top: 100px;
		padding-left: 20px;

	}
	div > h4 {
		font-family: Verdana;
	}
	#info-table{
		vertical-align: text-top;
		font-size: 12px;
		font-family: Arial;
		padding-left: 20px;
		height: 200px;
	}
		.my-info{
			padding: 10px;
			font-size: 12px;
			font-family: Verdana;
		}
	#profile-text{
		font-family: Arial;
		text-indent: 10px;
		padding-left: 20px;
		font-size: 12px;
		line-height:133%;
		letter-spacing: 0px;
		width: 240px;
	}

#works-whole{
	width: 100%;
	display: inline;

}
#works-video{
	float: left;
	margin-left: 77px;
	margin-top: 150px;
}

#works-table{
	float: left;
	margin-top: 150px;
	margin-left: 20px;
	width: 240px;
	height: 240px;
}
	.works{
	width:98px;
	height:98px;
	}
	
#contact-div{
	float: right;
	width: 340px;
}
	#map{
		margin-top: 500px;
		position: fixed;
		width: 300px;
		height: 250px;
		float:right;
	}
#top-fixed{

}

#bottom-fixed{

}