<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tweepy</title>
	<link type='text/css' rel='stylesheet' href="{{ url_for('static', filename = 'css/stylesheet.css')}}" />
	
	<script type='text/javascript' src="{{ url_for('static', filename = 'js/jquery-2.1.1.min.js')}}"></script>
	<script type='text/javascript' src="{{ url_for('static', filename = 'js/jquery-ui.min.js')}}"></script>
	<script type='text/javascript' src="{{ url_for('static', filename = 'js/script.js')}}"></script>
	<script type='text/javascript' src="{{ url_for('static', filename = 'js/ajax.js')}}"></script>
</head>
<body>
	<input type="text" name = "search_text_box" id = "search_text">
	<input type="button" value = "search" id = "search_button">
	<div id = "twit_table">


	</div>
</body>
</html>